package templates

import "app/pkg/config"
import "app/pkg/api"
import "strconv"

templ Configuration(
	config *config.Configuration,
	models []api.Model,
) {
	<h1 class="font-bold text-xl">Configuration</h1>
	<form
		class="max-w-sm mt-4"
		hx-post="/configuration"
		hx-target="#result"
		hx-swap="innerHTML"
		_={ `
on htmx:beforeSend
	add @disabled to #submit then
	remove .hidden from #config-loading

on htmx:afterRequest
	if detail.requestConfig.verb == 'get' then
		remove @disabled from #submit then
	end
	add .hidden to #config-loading
` }
	>
		<label
			for="chat-model"
			class="block mb-2 text-md font-bold"
		>Chat Model</label>
		<select
			name="chat_model"
			id="chat-model"
			hx-get="/configuration"
			hx-target="#options"
			hx-swap="outerHTML"
			class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-full"
		>
			<option value="chatgpt" selected?={ config.ChatModel == "chatgpt" }>ChatGPT</option>
			<option value="ollama" selected?={ config.ChatModel == "ollama" }>Ollama</option>
		</select>
		if config.ChatModel == "chatgpt" {
			@ChatGPTConfiguration(*config.OpenaiAPIKey)
		} else {
			@OllamaConfiguration(models, config)
		}
		<label
			for="image-model"
			class="block mt-8 mb-2 text-md font-bold"
		>Image Model</label>
		<select
			name="image_model"
			id="image-model"
			class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-full"
			_="on change remove @disabled from the next <button/>"
		>
			<option value="dall-e-3" selected?={ config.ImageModel == "dall-e-3" }>Dalle 3</option>
			<option value="dall-e-2" selected?={ config.ImageModel == "dall-e-2" }>Dalle 2</option>
		</select>
		<div class="mt-6 flex items-center gap-2">
			<input
				type="checkbox"
				id="use-audio"
				name="use_audio"
				checked?={ config.UseAudio }
				class="w-5 h-5"
				value={ strconv.FormatBool(config.UseAudio) }
				_={ `
on change 
remove @disabled from the next <button/> then 
if my value === 'true' 
    set my value to 'false'
otherwise 
    set my value to 'true'
end` }
			/>
			<label for="use-audio" class="text-md font-bold">Use TTS</label>
		</div>
		<button
			id="submit"
			type="submit"
			class="mt-8 inline-flex items-center justify-center whitespace-nowrap rounded-sm text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2"
			disabled?={ true }
		>
			Update Configuration
			<div role="status" class="ml-3 hidden" id="config-loading">
				<svg aria-hidden="true" class="inline w-5 h-5 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"></path>
					<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"></path>
				</svg>
			</div>
		</button>
		<div id="result"></div>
	</form>
}

templ ChatGPTConfiguration(apiKey string) {
	<div id="options" class="mt-6">
		<div>
			<label for="openai_api_key" class="block mb-2 text-sm font-semibold">OpenAI API KEY</label>
			<input
				name="openai_api_key"
				type="password"
				id="openai_api_key"
				class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 p-2.5"
				_="on keypress remove @disabled from the next <button/>"
				value={ apiKey }
			/>
		</div>
	</div>
}

templ OllamaConfiguration(models []api.Model, config *config.Configuration) {
	<div id="options" class="mt-6">
		<label for="ollama_model" class="block mb-2 text-sm font-bold">Ollama Model</label>
		<select
			name="ollama_model"
			id="ollama_model"
			class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			_="on change remove @disabled from the next <button/>"
		>
			for _, model := range models {
				<option value={ model.ID } selected?={ *config.OllamaModel == model.ID }>{ model.ID }</option>
			}
		</select>
	</div>
}
