package templates

templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
			<link rel="icon" type="image/svg+xml" href="/static/img/favicon.ico"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="robots" content="index, follow"/>
			<meta name="revisit-after" content="7 days"/>
			<meta name="language" content="English"/>
			<link rel="stylesheet" href="/static/css/styles.css"/>
			<script src="/static/js/htmx.min.js"></script>
			<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
			<script src="/static/js/socket.js"></script>
		</head>
		<body>
			{ children... }
		</body>
		<script>
			htmx.on("htmx:beforeSwap", function (evt) {
				var status = evt.detail.xhr.status
				if (status === 400 || status == 422) {
					evt.detail.shouldSwap = true;
					evt.detail.isError = false;
				} else if (status === 418) {
					// if the response code 418 (I'm a teapot) is returned, retarget the
					// content of the response to the element with the id `teapot`
					evt.detail.shouldSwap = true;
					evt.detail.target = htmx.find("#teapot");
				}
			});
		</script>
	</html>
}
