package templates

templ SummarizeSSE() {
	<div
		id="status"
		class="mt-4 w-[600px]"
		_={ `
  on load
  socket SummarizeSocket ws://localhost:3000/summary.ws
      on message as json
          log it
          if it.type === "token"
              if :content === undefined then set :content to '' end
	          set :content to :content + it.data then
	          put :content into #status
	      else
	          put it.data into #status
      end
  end
` }
	></div>
}

templ Summarize() {
	@Page("Home") {
		<div class="flex flex-col items-center w-screen justify-center">
			<h1 class="font-bold text-xl mb-6 mt-10">Summarize Youtube Video</h1>
			<form hx-post="/summary" hx-target="#status">
				<input
					name="url"
					type="text"
					id="url"
					placeholder="https://www.youtube.com/watch?v=Ph4dVSmVCZ4"
					class="w-[500px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-none focus:ring-blue-500 p-2.5"
					spellcheck="false"
					autofocus
					autocomplete="off"
				/>
			</form>
			<div id="status" class="mt-4 w-[600px]"></div>
		</div>
	}
}
